    .u{
    text-decoration: underline;
    }
    body{
        color:darkseagreen;
        background-color: peru;
    }
    .myHeaders{
        color:blue;
        font-family:sans-serif      
    }
    .myParagraphs{
        font-size:larger;
        font-family:'Courier New', Courier, monospace;
    }
    .myLinks{
        color:crimson;
        font-size: large;
        font-family:sans-serif;
    }
    .myImages{
        font-weight:500;
        fill:darkcyan;
        color:darkkhaki;
    }